<div class="page-header border-bottom" fxLayout="row" fxLayoutAlign="space-between start">
  <h1>Tenants</h1>
  <button mat-flat-button color="primary" (click)="openAddDialog()">Add Tenant</button>
</div>
<div class="wrapper" fxLayout="row" fxLayoutAlign="start start">
  <div class="item-list" fxFlex="30%" fxLayout="column" fxFlexFill>
     <div fxLayout="row" fxLayoutAlign="start center" [ngClass]="{ item: true, selected: isSelected(tenant) }" *ngFor="let tenant of (tenantsResponse | async)?.content" (click)="setSelectedTenant(tenant)">
        <h3><fa-icon [icon]="faBuilding"></fa-icon> {{tenant.name}}</h3>
     </div>
    <mat-paginator [length]="paginatorLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="changePage($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="item-details" fxLayout="column" fxFlex="70%" *ngIf="selectedTenant">
    <h1>
      <fa-icon class="fa-1x" [icon]="faBuilding"></fa-icon>
      {{selectedTenant.name}}
      <fa-icon class="action-btn" [icon]="faEdit" (click)="openEditDialog()"></fa-icon>
      <fa-icon class="action-btn" [icon]="faTrash" (click)="openDeleteDialog()"></fa-icon>
    </h1>
    <h2>Contact Info</h2>
    <blockquote>
      <span *ngIf="selectedTenant.contactInfo.phone" >Phone: {{selectedTenant.contactInfo.phone}}</span><br>
      <span *ngIf="selectedTenant.contactInfo.emailAddress">Email: {{selectedTenant.contactInfo.emailAddress}}</span>
    </blockquote>
    <h2>Certificates And Keys</h2>
    <div fxLayout="row" *ngIf="showChart; else elseBlock">
      <div id="chart"></div>
    </div>
    <ng-template #elseBlock>
      <div fxLayout="row">
        <blockquote>
          <h3>No certificates found for this tenant.</h3>
        </blockquote>
      </div>
    </ng-template>
    <h2>Addresses</h2>
    <div fxLayout="row">
      <blockquote *ngFor="let address of selectedTenant.contactInfo.addresses">
        {{address.addressLine1}}<br>
        {{address.addressLine2}}<br>
        {{address.city}}<br>
        {{address.stateOrProvince}}<br>
        {{address.country}}
      </blockquote>
    </div>
  </div>
  <div fxFlex="70%" *ngIf="!selectedTenant" fxLayout="row" fxLayoutAlign="center center">
    <h3>Please select a tenant to view.</h3>
  </div>
</div>
