<div class="page-header border-bottom" fxLayout="row" fxLayoutAlign="space-between start">
  <h1>Trust Chains</h1>
  <button mat-flat-button color="primary" (click)="openAddDialog()">Add Trust Chain</button>
</div>
<div class="wrapper" fxLayout="row" fxLayoutAlign="start start">
  <div class="item-list" fxFlex="30%" fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start center" [ngClass]="{ item: true, selected: isSelected(trustChain) }" *ngFor="let trustChain of (trustChainResponse$ | async)?.content" (click)="setSelected(trustChain)">
      <h3><fa-icon [icon]="faCertificate"></fa-icon> {{trustChain.name}}</h3>
    </div>
    <mat-paginator [length]="paginatorLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="changePage($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="item-details" fxLayout="column" fxFlex="70%" *ngIf="selectedTrustChain">
    <h1 fxLayout="row" fxLayoutAlign="space-between center">
      <span><fa-icon class="fa-1x" [icon]="faCertificate"></fa-icon>
        {{selectedTrustChain.name}}</span>
      <button mat-stroked-button color="primary" (click)="viewChildCertificates()">View Certificates</button>
    </h1>
    <span>{{selectedTrustChain.description}}</span>
    <h2 fxLayout="row" fxLayoutAlign="space-between center">
      Root Certificate Info
      <fa-icon class="certificate-download-icon" [icon]="faDownload" (click)="downloadRootCert()"></fa-icon>
    </h2>
    <app-certificate-info [certificate]="selectedTrustChain.rootCertificate"></app-certificate-info>
    <h2>Issued Certificates - Summary</h2>
    <div fxLayout="row">
      <div fxFlex="50%" id="chart-by-trust-chain"></div>
      <div fxFlex="50%" id="chart-by-hierarchy"></div>
    </div>
  </div>
  <div fxFlex="70%" *ngIf="!selectedTrustChain" fxLayout="row" fxLayoutAlign="center center">
    <h3>Please select a trust chain to view.</h3>
  </div>
</div>
