.dashboard-card {
  padding: 20px;
  width: 100%;
  margin-top: -5px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;

  .detail {
    text-align: center;
    padding: 15px 10px 10px;
    color: black;
    width: 25%;
    cursor: pointer;
    border-radius: 20px 0 0 20px;
    position: relative;
    z-index: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

    .detail-icon {
      padding: 10px;
      font-size: 20px;
      color: #ffc578;
      z-index: 2;
    }

    .icon-bg {
      position: absolute;
      top: 0;
      left: 0;
      background: #1a55a4;
      height: 100%;
      width: 55px;
      z-index: 1;
      border-radius: 20px 0 0 20px;
    }

    h1, h2, h3 {
      text-align: right;
      margin-bottom: 0;
    }
  }
}

.chart-container {
  padding: 20px;
  width: 100%;

  .chart {
    padding: 10px;
    h2 {
      text-align: center;
    }
  }
}

