<div class="page-header border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
  <h1>
    Dashboard
  </h1>
</div>
<div class="wrapper" fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="row" fxLayoutAlign="space-between start" class="dashboard-card">
      <div class="detail">
        <h1>{{totalTenantCount}}</h1>
        <h2>Total Tenants</h2>
      </div>
      <div class="detail">
        <h1>{{totalTrustChainCount}}</h1>
        <h2>Trust Chains</h2>
      </div>
      <div class="detail">
        <h1>{{totalCertificateCount}}</h1>
        <h2>Certificates</h2>
      </div>
  </div>
  <div fxLayout="row" class="chart-container" fxLayoutAlign="center center">
    <app-certificate-issue-density></app-certificate-issue-density>
  </div>
</div>
