.dashboard-card {
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;

  .detail {
    width: 30%;
    text-align: center;
    border: 1px dashed #CCC;
    border-radius: 50px;
    padding: 15px 0 0;
    color: #707070;

    h1 {
      margin-bottom: 0;
    }
  }
}
