.dashboard-card {
  padding: 20px;
  width: 100%;
  margin-top: -5px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;

  .detail {
    text-align: center;
    padding: 15px 10px 10px;
    color: black;
    width: 25%;
    border: 1px dashed #CCCCCC;
    cursor: pointer;

    .detail-icon {
      padding: 10px;
      font-size: 25px;
    }

    h1, h2, h3 {
      text-align: right;
      margin-bottom: 0;
    }
  }
}

.chart-container {
  padding: 20px;
  width: 100%;

  .chart {
    padding: 10px;
    h2 {
      text-align: center;
    }
  }
}

