<mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span>OPABS KMS</span>
      <div>
        <button *ngFor="let menuItem of menuItems" mat-button [routerLink]="menuItem.link" routerLinkActive="active">{{menuItem.displayName}}</button>
        <button mat-button (click)="logout()">Logout</button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="display-area" fxFlexFill>
    <app-loader></app-loader>
    <router-outlet></router-outlet>
</div>

