<div class="page-header border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
  <h1>Certificates</h1>
  <app-search (searchTextChange)="searchTextChanged($event)"></app-search>
</div>
<div class="wrapper" fxLayout="row" fxLayoutAlign="start start">
  <div class="item-list" fxFlex="30%" fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start center" [ngClass]="{ item: true, selected: isSelected(certificate) }" *ngFor="let certificate of (certificateListResponse$ | async)?.content" (click)="setSelected(certificate)">
      <h3 fxLayout="row" fxLayoutAlign="start center">
        <i class="certificate-icon"></i>
        {{certificate.subjectDistinguishedName}}
      </h3>
    </div>
    <mat-paginator [length]="paginatorLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="changePage($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="item-details" fxLayout="column" fxFlex="70%" *ngIf="selectedCertificate">
    <h1 fxLayout="row" fxLayoutAlign="space-between center">
      <span fxLayout="row" fxLayoutAlign="start center">
        <i class="certificate-icon"></i>
        {{selectedCertificate.subjectDistinguishedName}}
      </span>
      <button mat-stroked-button color="primary" *ngIf="canCreateChildCertificates()" (click)="openAddCertificate()">Add Child Certificate</button>
    </h1>
    <h2 fxLayout="row" fxLayoutAlign="space-between center">
      Certificate Info
      <span>
        <fa-icon class="certificate-download-icon" [icon]="faDownload" (click)="downloadCert()"></fa-icon>(DER)
        <fa-icon class="certificate-download-icon" [icon]="faDownload" (click)="downloadCertChain()"></fa-icon>(P7B Bundle)
      </span>
    </h2>
    <app-certificate-info [certificate]="selectedCertificate"></app-certificate-info>
    <h2>Owning Trust Chain</h2>
    <blockquote>
      <h3>Trust Chain Name</h3>
      <span>{{trustChain.name}}</span>
      <h3 *ngIf="trustChain.dateCreated">Creation Date</h3>
      <span>{{trustChain.dateCreated | date: 'short'}}</span>
      <h3 *ngIf="trustChain.dateUpdated">Last Updated</h3>
      <span>{{trustChain.dateUpdated | date: 'short'}}</span>
    </blockquote>
  </div>
  <div fxFlex="70%" *ngIf="!selectedCertificate" fxLayout="row" fxLayoutAlign="center center">
    <h3>Please select a certificate to view.</h3>
  </div>
</div>
