.certificate-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-image: url("../../../../assets/certificate.png");
  background-size: cover;
  display: inline-block;
}
.chip {
  border-radius: 30px;
  background: #516ee5;
  color: #ffffff;
  padding: 5px 10px;

  fa-icon {
    cursor: pointer;
  }
}
